<<<<<<< HEAD
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: grey;
    color: #fff;

    h2 {
        font-size: 32px;
    }
=======
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: grey;
    color: #fff;

    h2 {
        font-size: 32px;
    }
>>>>>>> 7127bd9d5c1279a114cdf4c921f1c53ed9b0a4c2
}